<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<% if session["user_id"] %>
<p>
  <a href="/places/new" class="btn btn-secondary">New place</a>
</p>
<% end %>